<div class="bg-base-200 m-2 rounded-2xl p-4 flex flex-row justify-start gap-5 w-full" cdkDrag>
  <div class="flex justify-center items-center">
    <button
      class="cursor-pointer m-0 p-0 rounded-full"
      (click)="onStatusChange()"
      animate.enter="enter-animation"
    >
      <svg
        [lucideIcon]="currentIcon()"
        [size]="28"
        class="transition-all duration-500 ease-in-out"
      ></svg>
    </button>
  </div>
  <div class="flex flex-col">
    <div class="font-bold text-xl">{{ itemData().header }}</div>
    <div class="text-sm">{{ itemData().body }}</div>
  </div>
</div>
