<dialog #dialogRef [id]="id()" class="modal">
  <div class="modal-box flex flex-col items-center w-[30%] border-2 border-primary bg-base-200">
    <fieldset class="fieldset w-full max-w-[70%]">
      <form [formArray]="form" (keydown.enter)="onEnterPress($event)">
        @for (item of inputArray(); track $index) {
          <legend class="fieldset-legend">{{ item.label }}</legend>
          <input
            [formControl]="item.control"
            type="text"
            class="input"
            [placeholder]="item.placeholder ?? ''"
          />
          <p class="label">{{ item.optionalLabel }}</p>
        }
      </form>
    </fieldset>

    <form method="dialog">
      <button (click)="closeModal()" class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">
        <svg lucideCircleX></svg>
      </button>
    </form>

    <div class="join mt-5">
      <button (click)="onSave()" class="btn join-item bg-primary text-primary-content">Save</button>
      <button (click)="closeModal()" class="btn join-item bg-neutral text-neutral-content">
        Draft
      </button>
    </div>
  </div>
</dialog>
